aiogram~=3.30.0
pyrogram>=2.0.106
TgCrypto>=1.2.5
loguru>=0.7.2
redis>=5.0,<9
pydantic>=2.6
pydantic-settings>=2.3
SQLAlchemy>=2.0.30
alembic>=1.13.1
aiosqlite>=0.20.0
psycopg[binary]>=3.2.1
ujson>=5.9.0
python-dateutil>=2.9.0.post0
aiohttp>=3.9.5
httpx>=0.27.0
beautifulsoup4>=4.12.0
lxml>=5.0.0
cryptography>=42.0.0
